**/.git
**/__pycache__
**/*.pyc
**/batch-job-templates
**/dockerfiles
**/environments
**/test_volume
**/volume
**/volumes_postgres
config/externally_supplied_metadata/metasra/*.tab
config/externally_supplied_metadata/metasra/metasra_keywords.json
config/externally_supplied_metadata/metasra/metasra_translated.json
config/externally_supplied_metadata/metasra/SRAmetadb.sqlite
dr_env
env/
infrastructure
