django>=2.2.18
psycopg2-binary>=2.8.4
requests>=2.20.0
retrying
python-nomad>=1.0.2
coverage
GEOparse
python-dateutil
raven
djangorestframework>=3.11.2
django-elasticsearch-dsl-drf>=0.17.1
elasticsearch-dsl>=6.1.0
vcrpy
django-computedfields
