django>=3.2,<4
psycopg2-binary
requests
retrying
coverage
geoparse
python-dateutil
raven
pyrefinebio>=0.4.7
tblib
# TODO(ark): make sure DRF is required.
djangorestframework<3.14.0
# Can't go above 6.X without upgrading elasticsearch
django-elasticsearch-dsl==6.5.0
django-elasticsearch-dsl-drf>=0.17.1
elasticsearch-dsl>=6.1.0,<7.0.0
vcrpy
django-computedfields
pyyaml
# For end-to-end tests
numpy==1.19.5
pandas==1.1.5
scipy
sqlparse
