version: 2
jobs:
  test:
    working_directory: ~/refinebio
    machine: true
    steps:
      - checkout

      # Setup Postgres in a Container
      - run: ./run_postgres.sh
      - run: sleep 30
      - run: ./common/install_db_docker.sh
      - run: sleep 30

      # Setup Nomad in a Container
      #- run: ./run_nomad.sh
      - run: ./run_nomad_docker.sh
      - run: sleep 30

      # Install our application
      - run: chmod -R a+wr /home/user/data_refinery_common
      - run: ./update_models.sh

      # Run API Tests.
      - run: ./api/run_tests.sh

      # Run Common Tests.
      - run: ./common/run_tests.sh

      # Run Foreman Tests
      - run: ./foreman/run_tests.sh

      # Run Worker Tests
      - run: chmod -R a+rw workers/test_volume
      - run:
          command: .circleci/filter_tests.sh
          no_output_timeout: 36000

  deploy:
    machine: true
    working_directory: ~/refinebio
    steps:
      - checkout
      - run: bash .circleci/git_decrypt.sh
      - run: bash .circleci/update_docker_img.sh
      - run: bash .circleci/run_terraform.sh

workflows:
  version: 2
  test-and-deploy:
    jobs:
      # "test" job will be triggered by:
      # - any branch commit, or:
      # - tag commits whose names start with letter "v".
      - test:
          filters:
            # To allow tag commits whose name start with "v" to trigger
            # "test" job, an explicit "tags" filter is required here.
            tags:
              only: /v.*/

      # "deploy" job will be triggered ONLY by tag commits whose name
      # start with letter "v".
      - deploy:
          requires:
            - test
          filters:
            # No branch commit will ever trigger this job.
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
