version: 2
jobs:
  # This runs foreman, end-to-end, and illumina tests.
  # These are grouped together because in total they take less time than our other tests individually.
  main_tests:
    working_directory: ~/refinebio
    machine:
      docker_layer_caching: true
    steps:
      - checkout

      # Clean up stuff circle provides that we don't need.
      - run: sudo ./.circleci/cleanup_instance.sh

      # Setup Postgres in a Container
      - run: ./run_postgres.sh
      - run: ./run_es.sh
      # Let Postgres start up.
      - run: sleep 30
      # Finish setting up Postgres now that it's running.
      - run: ./common/install_db_docker.sh

      # Install our application. Provides the data_refinery_common package for the other images.
      - run: chmod -R a+wr common
      - run: ./update_models.sh

      # Update ES models
      - run: ./run_manage.sh search_index --rebuild -f;

        # Install Nomad
      - run: sudo ./install_nomad.sh

        # Start Nomad, build images, and register jobs.
      - run:
          command: sudo -E ./run_nomad.sh -e test

      - run: ./prepare_image.sh -i no_op -s workers -d localhost:5000
      - run: docker push localhost:5000/dr_no_op
      - run: ./prepare_image.sh -i downloaders -s workers -d localhost:5000
      - run: docker push localhost:5000/dr_downloaders
      - run: ./prepare_image.sh -i smasher -s workers -d localhost:5000

      # Run Downloader Tests
      # Running these in the same job as the common tests is good
      # because their dockerfiles are very similar so a lot of the
      # build time is saved by only building those layers once.
      - run:
          command: .circleci/filter_tests.sh -t downloaders
          no_output_timeout: 1h

      # Run Foreman Tests
      - run: mkdir -p test_volume && chmod -R a+rw test_volume
      - run: ./foreman/run_tests.sh --exclude-tag=salmon --exclude-tag=transcriptome

     # Run NO_OP tests
      - run: sudo chown -R circleci:circleci workers/test_volume/
      - run: .circleci/filter_tests.sh -t no_op

      # Run Smasher tests.
      - run: sudo chown -R circleci:circleci workers/test_volume/
      - run:
          command: .circleci/filter_tests.sh -t smasher
          # Smashing can apparently take a long time on CI
          no_output_timeout: 1h

      # Run Smasher tests.
      - run: sudo chown -R circleci:circleci workers/test_volume/
      - run:
          command: .circleci/filter_tests.sh -t janitor
          no_output_timeout: 1h

      # Run QN tests.
      - run: sudo chown -R circleci:circleci workers/test_volume/
      - run:
          command: .circleci/filter_tests.sh -t qn
          no_output_timeout: 1h

      - run: sudo chown -R circleci:circleci workers/test_volume/
      - run:
          command: .circleci/filter_tests.sh -t compendia
          no_output_timeout: 1h

  common_tests:
    working_directory: ~/refinebio
    machine:
      docker_layer_caching: true
    steps:
      - checkout

      # Clean up stuff circle provides that we don't need.
      - run: sudo ./.circleci/cleanup_instance.sh

      # Setup Postgres in a Container
      - run: ./run_postgres.sh
      - run: ./run_es.sh
      # Let Postgres start up.
      - run: sleep 30
      # Finish setting up Postgres now that it's running.
      - run: ./common/install_db_docker.sh

      # Install our application. Provides the data_refinery_common package for the other images.
      - run: chmod -R a+wr common
      - run: ./update_models.sh

      # Run Common Tests.
      - run: ./common/run_tests.sh

  # This tests workers tests tagged as 'salmon'
  salmon_and_api_tests:
    working_directory: ~/refinebio
    machine:
      docker_layer_caching: true
    steps:
      - checkout

      # Clean up stuff circle provides that we don't need.
      - run: sudo ./.circleci/cleanup_instance.sh

      # Setup Postgres in a Container
      - run: ./run_postgres.sh
      - run: ./run_es.sh
      # Let Postgres start up.
      - run: sleep 30
      # Finish setting up Postgres now that it's running.
      - run: ./common/install_db_docker.sh

      # Install our application. Provides the data_refinery_common package for the other images.
      - run: chmod -R a+wr common
      - run: ./update_models.sh

        # Install Nomad
      - run: sudo ./install_nomad.sh

        # Start Nomad, build images, and register jobs.
      - run:
          command: sudo -E ./run_nomad.sh -e test

      - run: ./prepare_image.sh -i salmon -s workers -d localhost:5000
      - run: docker push localhost:5000/dr_salmon
      - run: ./prepare_image.sh -i downloaders -s workers -d localhost:5000
      - run: docker push localhost:5000/dr_downloaders

      # Run Salmon end-to-end tests
      - run: mkdir -p test_volume && chmod -R a+rw test_volume
      - run: ./foreman/run_tests.sh --tag=salmon

      # Update ES models
      - run: ./run_manage.sh search_index --rebuild -f;

      # Run API Tests.
      - run: ./api/run_tests.sh

      - run:
          command: .circleci/filter_tests.sh -t salmon
          no_output_timeout: 1h

  tx_illumina_tests:
    working_directory: ~/refinebio
    machine:
      docker_layer_caching: true
    steps:
      - checkout

      # Clean up stuff circle provides that we don't need.
      - run: sudo ./.circleci/cleanup_instance.sh

      # Setup Postgres in a Container
      - run: ./run_postgres.sh
      - run: ./run_es.sh
      # Let Postgres start up.
      - run: sleep 30
      # Finish setting up Postgres now that it's running.
      - run: ./common/install_db_docker.sh

      # Install our application. Provides the data_refinery_common package for the other images.
      - run: chmod -R a+wr common
      - run: ./update_models.sh

        # Start Nomad, build images, and register jobs.
      - run:
          command: sudo -E ./run_nomad.sh -e test

      - run: ./prepare_image.sh -i transcriptome -s workers -d localhost:5000
      - run: docker push localhost:5000/dr_transcriptome
      - run: ./prepare_image.sh -i downloaders -s workers -d localhost:5000
      - run: docker push localhost:5000/dr_downloaders

      # Run Transcriptome end-to-end tests
      - run: mkdir -p test_volume && chmod -R a+rw test_volume
      - run: ./foreman/run_tests.sh --tag=transcriptome

      # - run: ./prepare_image.sh -i transcriptome -s workers
      - run: .circleci/filter_tests.sh -t transcriptome

      # Files created by containers are owned by the user ubuntu, which prevents workers/run_tests.sh
      # from making sure all the files in workers/test_volume have read/write permissions.
      - run: sudo chown -R circleci:circleci workers/test_volume/

      # Run Illumina tests.
      - run: .circleci/filter_tests.sh -t illumina

      # Files created by containers are owned by the user ubuntu, which prevents workers/run_tests.sh
      # from making sure all the files in workers/test_volume have read/write permissions.
      - run: sudo chown -R circleci:circleci workers/test_volume/

      # We've been running out of space while downloading the Affy
      # image, so clear out other images to ensure enough space for it.
      - run: docker rm $(docker ps -qa --no-trunc --filter "status=exited") || true
      - run: docker image rm ccdlstaging/dr_transcriptome
      - run: docker image rm ccdlstaging/dr_illumina

  affy_agilent_tests:
    machine: true
    working_directory: ~/refinebio
    steps:
      - checkout

      # Clean up stuff circle provides that we don't need.
      - run: sudo ./.circleci/cleanup_instance.sh

      # Setup Postgres in a Container
      - run: ./run_postgres.sh
      - run: ./run_es.sh
      # Let Postgres start up.
      - run: sleep 30
      # Finish setting up Postgres now that it's running.
      - run: ./common/install_db_docker.sh

      # Install our application. Provides the data_refinery_common package for the other images.
      - run: chmod -R a+wr common
      - run: ./update_models.sh

      - run:
          command: .circleci/filter_tests.sh -t affymetrix
          # This takes a while because the affymetrix image is huge
          no_output_timeout: 1h

      # Files created by containers are owned by the user ubuntu, which prevents workers/run_tests.sh
      # from making sure all the files in workers/test_volume have read/write permissions.
      - run: sudo chown -R circleci:circleci workers/test_volume/

      # This doesn't take as long because the image has already been pulled.
      - run: .circleci/filter_tests.sh -t agilent

  deploy:
    machine: true
    working_directory: ~/refinebio
    steps:
      - checkout
      - run: ./.circleci/install_git_decrypt.sh
      - run: ./.circleci/git_decrypt.sh
      - run:
          command: ./.circleci/remote_deploy.sh
          no_output_timeout: 4h # Building images and createing postgres instances can take a while.
      - run: ./.circleci/slackpost.sh robots deploybot

workflows:
  version: 2
  test-and-deploy:
    jobs:
      # test jobs will be triggered by:
      # - any branch commit, or:
      # - tag commits whose names start with letter "v".
      - main_tests:
          filters:
            # To allow tag commits whose name start with "v" to trigger
            # "test" job, an explicit "tags" filter is required here.
            tags:
              only: /v.*/
      - common_tests:
          filters:
            # To allow tag commits whose name start with "v" to trigger
            # "test" job, an explicit "tags" filter is required here.
            tags:
              only: /v.*/
      - salmon_and_api_tests:
          filters:
            # To allow tag commits whose name start with "v" to trigger
            # "test" job, an explicit "tags" filter is required here.
            tags:
              only: /v.*/
      - tx_illumina_tests:
          filters:
            # To allow tag commits whose name start with "v" to trigger
            # "test" job, an explicit "tags" filter is required here.
            tags:
              only: /v.*/
      - affy_agilent_tests:
          filters:
            # To allow tag commits whose name start with "v" to trigger
            # "test" job, an explicit "tags" filter is required here.
            tags:
              only: /v.*/

      # "deploy" job will be triggered ONLY by tag commits whose name
      # start with letter "v".
      - deploy:
          requires:
            - main_tests
            - common_tests
            - salmon_and_api_tests
            - tx_illumina_tests
            - affy_agilent_tests
          filters:
            # No branch commit will ever trigger this job.
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
