version: 2
jobs:
  build:
    working_directory: /home/circleci/data_refinery
    machine: true
    steps:
      - checkout

      - run: for file in $(ls -1) workers/test_volume/raw/TEST/TRANSCRIPTOME_INDEX; do md5sum; done
      - run: for file in $(ls -1) workers/test_volume/raw/TEST/TRANSCRIPTOME_INDEX; do gunzip -v -t; done
      - run: ls -lah workers/test_volume/raw/TEST/TRANSCRIPTOME_INDEX
      - run: $((1 / 0))

      # Setup Postgres
      - run: sudo service postgresql start
      - run: sudo -u postgres createdb data_refinery
      - run: sudo -u postgres psql data_refinery -c "CREATE ROLE data_refinery_user WITH LOGIN PASSWORD 'data_refinery_password';"
      - run: sudo -u postgres psql data_refinery -c 'GRANT ALL PRIVILEGES ON DATABASE data_refinery TO data_refinery_user;'
      - run: sudo -u postgres psql data_refinery -c 'ALTER USER data_refinery_user CREATEDB;'

      # Run Tests.
      - run: ./common/run_tests.sh
      - run: cd common && python setup.py sdist
      - run: ./run_rabbitmq.sh
      - run: ./foreman/run_tests.sh
      - run: chmod -R a+rw workers/test_volume
      - run: ./workers/run_tests.sh
