version: 2
jobs:
  build:
    working_directory: /home/circleci/data_refinery
    machine: true
    steps:
      - run: curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
      - run: sudo apt-get install git-lfs
      - run: git lfs install
      - checkout

      # Install Postgres
      - run: wget -q https://www.postgresql.org/media/keys/ACCC4CF8.asc -O - | sudo apt-key add -
      - run: sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ `lsb_release -cs`-pgdg main" >> /etc/apt/sources.list.d/pgdg.list'
      - run: sudo apt-get update
      - run: sudo apt-get install postgresql postgresql-contrib

      # Setup Postgres
      - run: sudo service postgresql start
      - run: sudo -u postgres createdb data_refinery
      - run: sudo -u postgres psql data_refinery -c "CREATE ROLE data_refinery_user WITH LOGIN PASSWORD 'data_refinery_password';"
      - run: sudo -u postgres psql data_refinery -c 'GRANT ALL PRIVILEGES ON DATABASE data_refinery TO data_refinery_user;'
      - run: sudo -u postgres psql data_refinery -c 'ALTER USER data_refinery_user CREATEDB;'

      # Run Tests.
      - run: ./common/run_tests.sh
      - run: cd common && python setup.py sdist
      - run: ./run_rabbitmq.sh
      - run: ./foreman/run_tests.sh
      - run: chmod -R a+rw workers/test_volume
      - run: ./workers/run_tests.sh
