version: 2
jobs:
  build:
    working_directory: /home/circleci/data_refinery
    machine: true
    steps:
      - checkout

      # Setup Postgres
      - run: sudo service postgresql start
      - run: sudo -u postgres createdb data_refinery
      - run: sudo -u postgres psql data_refinery -c "CREATE ROLE data_refinery_user WITH LOGIN PASSWORD 'data_refinery_password';"
      - run: sudo -u postgres psql data_refinery -c 'GRANT ALL PRIVILEGES ON DATABASE data_refinery TO data_refinery_user;'
      - run: sudo -u postgres psql data_refinery -c 'ALTER USER data_refinery_user CREATEDB;'

      # Run Tests.
      - run: ./data_models/run_tests.sh
      - run: cd data_models && python setup.py sdist
      - run: ./common/run_tests.sh
      - run: cd common && python setup.py sdist
      - run: ./foreman/run_tests.sh
      # Set the permissions for all the directories in the volume to
      # 777 and all the files to 666
      # commands found: https://stackoverflow.com/a/11512211/6095378
      - run: find workers/test_volume -type d -exec chmod 777 {} \;
      - run: find workers/test_volume -type f -exec chmod 666 {} \;
      - run: ./workers/run_tests.sh
