interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ftp.expasy.org/databases/cellosaurus/cellosaurus.xml
  response:
    body:
      string: "<Cellosaurus>\r\n<header>\r\n  <terminology-name>Cellosaurus</terminology-name>\r\n
        \ <description>Cellosaurus: a controlled vocabulary of cell lines</description>\r\n
        \ <release version=\"38.0\" updated=\"2021-05-20\" nb-cell-lines=\"128806\"
        nb-publications=\"21875\"/>\r\n  <terminology-list>\r\n    <terminology name=\"NCBI-Taxonomy\"
        source=\"National Center for Biotechnology Information\" description=\"Taxonomy
        database of organisms\">\r\n      <url>https://www.ncbi.nlm.nih.gov/taxonomy</url>\r\n
        \   </terminology>\r\n    <terminology name=\"NCIt\" source=\"National Cancer
        Institute\" description=\"Terminology of biomedical concepts\">\r\n      <url>https://ncit.nci.nih.gov</url>\r\n
        \   </terminology>\r\n    <terminology name=\"ORDO\" source=\"Orphanet\" description=\"Rare
        diseases ontology\">\r\n      <url>https://www.ebi.ac.uk/ols/ontologies/ordo</url>\r\n
        \   </terminology>\r\n    <terminology name=\"ChEBI\" source=\"European Molecular
        Biology Laboratory\" description=\"Chemical Entities of Biological Interest\">\r\n
        \     <url>https://www.ebi.ac.uk/chebi/</url>\r\n    </terminology>\r\n    <terminology
        name=\"PubChem\" source=\"National Center for Biotechnology Information\"
        description=\"Public repository for information on chemical substances and
        their biological activities\">\r\n      <url>https://pubchem.ncbi.nlm.nih.gov/</url>\r\n
        \   </terminology>\r\n    <terminology name=\"DrugBank\" source=\"Wishart's
        group\" description=\"DrugBank database\">\r\n      <url>https://www.drugbank.ca/</url>\r\n
        \   </terminology>\r\n  </terminology-list>\r\n</header>\r\n<cell-line-list>\r\n<cell-line
        category=\"Transformed cell line\" created=\"2012-10-22\" last_updated=\"2021-05-20\"
        entry_version=\"14\" sex=\"Female\" age=\"Age unspecified\">\r\n  <accession-list>\r\n
        \   <accession type=\"primary\">CVCL_E548</accession>\r\n  </accession-list>\r\n
        \ <name-list>\r\n    <name type=\"identifier\">#15310-LN</name>\r\n    <name
        type=\"synonym\">15310-LN</name>\r\n    <name type=\"synonym\">TER461</name>\r\n
        \   <name type=\"synonym\">TER-461</name>\r\n    <name type=\"synonym\">Ter
        461</name>\r\n    <name type=\"synonym\">TER479</name>\r\n    <name type=\"synonym\">TER-479</name>\r\n
        \   <name type=\"synonym\">Ter 479</name>\r\n    <name type=\"synonym\">Extract
        519</name>\r\n  </name-list>\r\n  <comment-list>\r\n    <comment category=\"Derived
        from sampling site\"> Peripheral blood </comment>\r\n    <comment category=\"Transformant\">\r\n
        \     <cv-term terminology=\"NCBI-Taxonomy\" accession=\"10376\">Epstein-Barr
        virus (EBV)</cv-term>\r\n    </comment>\r\n    <comment category=\"Part of\">
        12th International Histocompatibility Workshop (12IHW) cell line panel </comment>\r\n
        \ </comment-list>\r\n  <species-list>\r\n    <cv-term terminology=\"NCBI-Taxonomy\"
        accession=\"9606\">Homo sapiens</cv-term>\r\n  </species-list>\r\n  <web-page-list>\r\n
        \   <url><![CDATA[http://pathology.ucla.edu/workfiles/360cx.pdf]]></url>\r\n
        \   <url><![CDATA[http://pathology.ucla.edu/workfiles/370cx.pdf]]></url>\r\n
        \ </web-page-list>\r\n  <hla-lists>\r\n    <hla-list>\r\n      <hla-gene id=\"A*\">\r\n
        \       <alleles>03,25</alleles>\r\n      </hla-gene>\r\n      <hla-gene id=\"B*\">\r\n
        \       <alleles>37:01:01:01,47:01:01:03</alleles>\r\n      </hla-gene>\r\n
        \     <hla-gene id=\"C*\">\r\n        <alleles>06</alleles>\r\n      </hla-gene>\r\n
        \     <hla-gene id=\"DPA1*\">\r\n        <alleles>01</alleles>\r\n      </hla-gene>\r\n
        \     <hla-gene id=\"DPB1*\">\r\n        <alleles>04:01:01</alleles>\r\n      </hla-gene>\r\n
        \     <hla-gene id=\"DQA1*\">\r\n        <alleles>01:01:01:01,01:03:01</alleles>\r\n
        \     </hla-gene>\r\n      <hla-gene id=\"DQB1*\">\r\n        <alleles>05:01:01;06:03:01:02</alleles>\r\n
        \     </hla-gene>\r\n      <hla-gene id=\"DRB1*\">\r\n        <alleles>01:01:01,14:17</alleles>\r\n
        \     </hla-gene>\r\n      <hla-gene id=\"DRB3*\">\r\n        <alleles>01:01</alleles>\r\n
        \     </hla-gene>\r\n      <hla-list-source>\r\n        <source>IPD-IMGT/HLA;
        10074</source>\r\n      </hla-list-source>\r\n    </hla-list>\r\n  </hla-lists>\r\n
        \ <xref-list>\r\n    <xref database=\"dbMHC\" category=\"Cell line databases/resources\"
        accession=\"48439\"> </xref>\r\n    <xref database=\"ECACC\" category=\"Cell
        line collections\" accession=\"94050311\">\r\n      <url><![CDATA[https://www.phe-culturecollections.org.uk/products/celllines/generalcell/detail.jsp?refId=94050311&collection=ecacc_gc]]></url>\r\n
        \   </xref>\r\n    <xref database=\"IHW\" category=\"Cell line databases/resources\"
        accession=\"IHW09326\"> </xref>\r\n    <xref database=\"IPD-IMGT/HLA\" category=\"Cell
        line databases/resources\" accession=\"10074\">\r\n      <url><![CDATA[https://www.ebi.ac.uk/cgi-bin/imgt/hla/fetch_cell.cgi?10074]]></url>\r\n
        \   </xref>\r\n    <xref database=\"Wikidata\" category=\"Other\" accession=\"Q54398957\">\r\n
        \     <url><![CDATA[https://www.wikidata.org/wiki/Q54398957]]></url>\r\n    </xref>\r\n
        \ </xref-list>\r\n</cell-line>\r\n<cell-line category=\"Hybridoma\" created=\"2017-08-22\"
        last_updated=\"2018-09-07\" entry_version=\"2\">\r\n  <accession-list>\r\n
        \   <accession type=\"primary\">CVCL_KA96</accession>\r\n  </accession-list>\r\n
        \ <name-list>\r\n    <name type=\"identifier\">#16-15</name>\r\n  </name-list>\r\n
        \ <comment-list>\r\n    <comment category=\"Monoclonal antibody target\">\r\n
        \     <xref-list>\r\n        <xref database=\"UniProtKB\" category=\"Sequence
        databases\" accession=\"Q5T5X7\">\r\n          <property-list>\r\n            <property
        name=\"gene/protein designation\" value=\"Human BEND3\"/>\r\n          </property-list>\r\n
        \         <url><![CDATA[https://www.uniprot.org/uniprot/Q5T5X7]]></url>\r\n
        \       </xref>\r\n      </xref-list>\r\n    </comment>\r\n    <comment category=\"Monoclonal
        antibody isotype\"> IgM </comment>\r\n  </comment-list>\r\n  <species-list>\r\n
        \   <cv-term terminology=\"NCBI-Taxonomy\" accession=\"10090\">Mus musculus</cv-term>\r\n
        \   <cv-term terminology=\"NCBI-Taxonomy\" accession=\"10116\">Rattus norvegicus</cv-term>\r\n
        \ </species-list>\r\n  <derived-from>\r\n    <cv-term terminology=\"Cellosaurus\"
        accession=\"CVCL_4032\">P3X63Ag8.653</cv-term>\r\n  </derived-from>\r\n  <reference-list>\r\n
        \   <reference resource-internal-ref=\"PubMed=25400923\"/>\r\n  </reference-list>\r\n
        \ <xref-list>\r\n    <xref database=\"RCB\" category=\"Cell line collections\"
        accession=\"RCB4635\">\r\n      <url><![CDATA[http://cellbank.brc.riken.jp/cell_bank/CellInfo/?cellNo=RCB4635&lang=En]]></url>\r\n
        \   </xref>\r\n    <xref database=\"Wikidata\" category=\"Other\" accession=\"Q54422067\">\r\n
        \     <url><![CDATA[https://www.wikidata.org/wiki/Q54422067]]></url>\r\n    </xref>\r\n
        \ </xref-list>\r\n</cell-line>\r\n<cell-line category=\"Cancer cell line\"
        created=\"2017-05-15\" last_updated=\"2020-07-02\" entry_version=\"3\" sex=\"Male\"
        age=\"1-2M\">\r\n  <accession-list>\r\n    <accession type=\"primary\">CVCL_IW91</accession>\r\n
        \ </accession-list>\r\n  <name-list>\r\n    <name type=\"identifier\">#40a</name>\r\n
        \ </name-list>\r\n  <comment-list>\r\n    <comment category=\"Breed/subspecies\">
        C57BL/6 </comment>\r\n    <comment category=\"Derived from metastatic site\">
        Peritoneum </comment>\r\n    <comment category=\"Transformant\">\r\n      <cv-term
        terminology=\"ChEBI\" accession=\"CHEBI:46666\">Crocidolite asbestos</cv-term>\r\n
        \   </comment>\r\n    <comment category=\"Characteristics\"> Established from
        parent cell line after two passages in the peritoneal cavity of C57BL/6 mice
        (PubMed=28159921) </comment>\r\n  </comment-list>\r\n  <disease-list>\r\n
        \   <cv-term terminology=\"NCIt\" accession=\"C21619\">Mouse mesothelioma</cv-term>\r\n
        \ </disease-list>\r\n  <species-list>\r\n    <cv-term terminology=\"NCBI-Taxonomy\"
        accession=\"10090\">Mus musculus</cv-term>\r\n  </species-list>\r\n  <derived-from>\r\n
        \   <cv-term terminology=\"Cellosaurus\" accession=\"CVCL_IW90\">40</cv-term>\r\n
        \ </derived-from>\r\n  <reference-list>\r\n    <reference resource-internal-ref=\"PubMed=28159921\"/>\r\n
       [...]
