[Unit]
Description=CCDL nomad client runtime
Documentation=https://github.com/AlexsLemonade/refinebio
After=network.target local-fs.target

[Service]
ExecStart=sh -c "nomad agent -config /home/ubuntu/client.hcl >> /var/log/nomad_client.log 2>&1"

# Keep us alive always
Restart=always

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
