[Unit]
Description=CCDL nomad server runtime
Documentation=https://github.com/AlexsLemonade/refinebio
After=network.target local-fs.target

[Service]
ExecStart=/bin/sh -c "nomad agent -config /home/ubuntu/server.hcl >> /var/log/nomad_server.log 2>&1"

# Keep us alive always
Restart=always

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
