coverage
django==2.2.10
psycopg2-binary
boto3>=1.12.21
requests>=2.23.0
urllib3>=1.24.2
retrying
daiquiri
python-nomad>=1.0.2
raven
elasticsearch-dsl
django-elasticsearch-dsl-drf
# Can't go above 6.4.2 without upgrading elasticsearch
django-elasticsearch-dsl==6.4.2
# DRF 3.10 breaks an import.
djangorestframework==3.9.4
