boto3
coveralls
django-elasticsearch-dsl
django>=2.1.8
elasticsearch-dsl
matplotlib
numpy
pandas
psycopg2-binary
python-nomad>=1.0.2
pyyaml>=4.2b1
requests>=2.20.0
retrying
scikit-learn
scipy
simplejson
sympy
unicodecsv
untangle>=1.1.1
# For visualization
dask>=1.1.1
xarray>=0.12.2
datashader>=0.6.9
datashape>=0.5.2
holoviews>=1.11.2
selenium==3.141.0
