boto3>=1.9.199
coveralls
django==2.2.13
matplotlib
numpy
pandas
psycopg2-binary
python-nomad>=1.0.2
pyyaml>=4.2b1
requests>=2.22.0
retrying
psutil>=5.6.6
Jinja2>=2.10.1
Pillow>=7.1.0
# Fancyimpute needs this version.
scikit-learn>=0.21.2
scipy
simplejson
sympy
unicodecsv
untangle>=1.1.1
# For visualization
dask>=1.1.1
xarray>=0.12.2
datashader>=0.6.9
datashape>=0.5.2
holoviews>=1.11.2
selenium==3.141.0
# For mocking out S3 calls for the smasher
vcrpy
