coverage
django>=3.2.4
psycopg2-binary
boto3>=1.12.21
requests>=2.23.0
urllib3>=1.24.2
Jinja2>=2.11.3
# We need at least 1.1 because of https://github.com/pallets/markupsafe/issues/57
markupsafe>=1.1
djangorestframework>=3.11.2
djangorestframework-hstore
django-cors-headers
django-filter
coreapi
# For ElasticSearch support:
django-elasticsearch-dsl-drf
# Can't go above 6.X without upgrading elasticsearch
django-elasticsearch-dsl==6.5.0
six
drf_yasg>=1.20.0
apscheduler
django-computedfields>=0.1.5
pyyaml>=5.4
